<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wongswich.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Tablero" />
        <activity
            android:name=".Vista.Inactivo"
            android:label="@string/title_activity_inactivo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Vista.Mantenimiento"
            android:label="@string/title_activity_mantenimiento"
            android:theme="@style/AppTheme" />
        <activity android:name=".Vista.NuevoProspecto"></activity>
    </application>

</manifest>
